$primary-color: #42D392;
$primary-color-light: #7ce7b7;

$secondary-color: #647EFF;
$secondary-color-light: #b0beff;

$success-color: #3bc084;
$success-color-light: #90ecc3;

$danger-color: #d84343;
$danger-color-pure: #ffbbbb;
$danger-color-light: #ffd7d7;

$dark-color: #2F2E41;
$light-color: #ddd;
$gray-color: #5c5b77;
$white-color: #fff;
$black-color: #000;

$spacing-xs: 4px;
$spacing-sm: $spacing-xs * 2;
$spacing-md: $spacing-xs * 4;
$spacing-lg: $spacing-xs * 6;
$spacing-xl: $spacing-xs * 8;
$spacing-xxl: $spacing-xs * 10;

$font-xs: 0.5rem;
$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 1.8rem;
$font-xxl: 2.5rem;

$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1440px;