$primary-color: #F97316;
$primary-color-light: #FFE2CE;

$secondary-color: #2EBC7C;
$secondary-color-light: #c2f1dc;

$success-color: #84CC16;
$success-color-light: #A9D26A;

$danger-color: #DC2626;
$danger-color-pure: #EC9898;
$danger-color-light: #ffd7d7;

$dark-color: #3d3d3d;
$light-color: #EFEFEF;
$gray-color: #5c5b77;
$gray-color-light: #c5c5cc;
$white-color: #fff;
$black-color: #000;
$overlay-color: #3d3d3d80;

$spacing-xs: 4px;
$spacing-sm: $spacing-xs * 2;
$spacing-md: $spacing-xs * 4;
$spacing-lg: $spacing-xs * 6;
$spacing-xl: $spacing-xs * 8;
$spacing-xxl: $spacing-xs * 10;

$font-xs: 0.5rem;
$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 1.8rem;
$font-xxl: 2.5rem;

$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1440px;